
:root {
  --viewer-margin: 60px;
}

body {
  margin: 0;
  padding: 0;
}
.t14r {
  color: #ce4d4d;
  font: normal 500 14px "Roboto";
}
.t14w {
  color: #ffffff;
  font: normal 500 14px "Roboto";
}

.landing_page .logo {
  width: 180px;
  height: 48px;
  margin: 60px auto;
  background-image: url("/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.landing_page .phrase {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.landing_page button {
  display: block;
  width: 240px;
  height: 60px;
  margin: 8px auto;
  background-color: #ce4d4d;
  color: #ffffff;
  font: normal 500 16px "Roboto";
  border-radius: 10px;
  border: none;
}